<app-main></app-main>
<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" class="row g-3">
    <div class="col-md-6">
      <label for="username" class="form-label">Username</label>
      <input  MouseEffect type="text" class="form-control black-border" id="username" name="username" [(ngModel)]="userName" required>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input MouseEffect type="password" class="form-control black-border" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary black-btn">Connect👇</button>
    </div>
    <p *ngIf="errorMessage" class="error col-12">{{ errorMessage }}</p>
  </form>
</div>
