.black-border {
    border-color: black;
    box-shadow: 0 0 10px black;

  }
  
  .black-btn {
    background-color: black;
    border-color: black;
  }
  
  .black-btn:hover {
    background-color: black; 
  }
  
  .error {
    color: red;
  }
