// /* עיצוב ה-header */
// header {
//     background-color: #333; /* רקע שחור */
//     color: #fff; /* צבע טקסט לבן */
//     padding: 10px 20px; /* מרווח בסביבת התוכן */
//     display: flex;
//     justify-content: space-between; /* יישור של אלמנטים בכיוון אופקי */
//     align-items: center; /* יישור אופקי של אלמנטים */
//   }
  
//   .user-info a {
//     color: #fff; /* צבע קישורים לבן */
//     text-decoration: none; /* הסרת קו תחתון מהקישורים */
//     margin-left: 10px; /* מרווח משמאל לכל קישור */
//   }
  
//  header h1{
//     text-align: center;
//  }
  
//   /* עיצוב ה-footer */
//   footer {
//     background-color: #333; /* רקע שחור */
//     color: #fff; /* צבע טקסט לבן */
//     padding: 800px; /* מרווח בסביבת התוכן */
//     text-align: center; /* מרכוז תוכן באופן אופקי */
//   }
  
//   .contact-info p {
//     margin: 5px 0; /* מרווחים בין הפריטים ברשימת פרטי יצירת קשר */
//   }

.footer {
  background-color: #f8f9fa; /* צבע הרקע */
  position: fixed; 
  bottom: 0; 
  width: 100%;
}

.text-center {
  text-align: center; 
  margin: 0 auto; 
}

  